#header {
    background: #2e78b3;
    color: #FFFFFF;

    .wrapper {
        width: 900px;
        margin: auto;
        padding: 15px 0px;

        span {
            font-size: 15px;
            font-weight: 600;
            letter-spacing: .25px;
        }
    }
}